NEXT_PUBLIC_API_URL=https://api.edenai.run/v2/text/chat
JWT_SECRET=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiOTgzNzk5YzYtNjQ2NC00ODE5LTllOGUtYjc5OGIzNzYyYzQ4IiwidHlwZSI6ImZyb250X2FwaV90b2tlbiJ9.uYeGCMEaj0YJvh-Q9jzSYHWaP6fiPAm6FvdkVxhlvmc